<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shana.slz.mapper.UserMapper">
    <!--查找用户by ID-->
    <select id="getUser"  parameterType="string" resultType="cn.shana.slz.model.UserModel">
        SELECT *from user where id=#{id}
    </select>
    <!--查找用户by 手机-->
    <select id="getUserByPhone"  parameterType="string" resultType="cn.shana.slz.model.UserModel">
        SELECT id,mobile from user where mobile=#{mobile}
    </select>
    <!--创建用户-->
    <insert id="insert" parameterType="cn.shana.slz.model.UserModel">
        insert into user (mobile,password)
        values (#{mobile},#{password});
    </insert>
</mapper>